{% extends 'layout/base.html' %}

{% block title %}Đăng nhập{% endblock %}

{% block content %}
<h1 class="text-center text-danger">Đăng nhập</h1>
{% if err_msg %}
    <div class="alert alert-danger">
        {{err_msg}}
    </div>
{% endif %}
<form action="/login" method="post">
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" name="username" class="form-control" placeholder="Nhập Username...." id="username">
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" name="password" class="form-control" placeholder="Nhập Password...." id="password">
  </div>

  <button type="submit" class="btn btn-primary">Đăng nhập</button>
</form>
{% endblock %}
